<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="card text-center">
                <div class="card-heading py-2">
                  <h1>Newsletters</h1>
                </div>
                <div class="card-body" >
                    <div class="site-heading">
                        <%= form_with(model: @newsletter) do |form| %>
                          <% if @newsletter.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>
                              <ul>
                                <% @newsletter.errors.each do |error| %>
                                  <li><%= error.full_message %></li>
                                <% end %>
                              </ul>
                            </div>
                          <% end %>

                          <div class="field">
                            <%= form.label :email %>
                            <%= form.text_field :email %>
                          </div>

                          <div class="field">
                            <% @categories.each do |category|  %>
                              <%= form.check_box :categories, {multiple: true}, category.id, false %>
                              <%= form.label category.name %><br>
                            <% end %>
                          </div>

                          <div class="field"> 
                            <% @subscription_type.each do |subscribe|  %>
                              <%= form.radio_button :subscription_type, subscribe %>
                              <%= form.label subscribe %><br>
                            <% end %>
                          </div>

                          <div class="actions">
                            <%= form.submit "Subscribe" %>
                          </div>
                        <% end %>
                    </div>
                    <br>
                    <div class="site-heading">
                        <%= link_to 'Destroy', @newsletter, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>
