<%= form_for @coupon, method: :post,  url: check_coupon_code_path, remote: true do |f| %>
  <%= f.hidden_field :total, :value => @cart %>
  <%= f.hidden_field :shipping_cost, :value => @shipping_cost %>
  <div class="d-flex justify-content-center">
    <%= f.text_field :code, :placeholder => "Enter your coupon",class:"form-control form-control-lg text-center" %>
    <span id="coupon-buttons" ><%= f.submit "Apply", class:"btn btn-outline-warning btn-lg ms-3 mx-3" %></span>
  </div>
<% end %>
