<section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <%= form_with(model: order, class:"md-float-material form-material") do |f| %>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center heading" >Please Enter Your Details</h3><br><br>
                                      <% if order.errors.any? %>
                                          <ul>
                                            <% order.errors.each do |error| %>
                                              <li><%= error.full_message %></li>
                                            <% end %>
                                          </ul>
                                        </div>
                                      <% end %>
                                 </div>
                            </div>

                            <div class="row">
                              <%= f.hidden_field :total, :value => @total %>                                     
                            </div>
                                    
                            <div class="row">                                     
                              <%= f.submit "Stripe",class: "btn btn-primary btn-md btn-block waves-effect text-center col-md-12 m-1"  %><br>     
                            </div>
                            
                            <div class="row">                                 
                                  <%= f.submit "Paypal",class: "btn btn-primary btn-md btn-block waves-effect text-center col-md-12 m-1"  %><br>
                            </div>

                            <div class="row">                                
                                  <%= f.submit "Cash On Delivery",class: "btn btn-primary btn-md btn-block waves-effect text-center col-md-12 m-1"  %><br>  
                            </div>
                        </div>
                    </div>
                <% end %>
                </form>
            </div>
        </div>
    </div>
</section>
