<%#= link_to 'Show', order %> 
<%#= link_to 'Edit', edit_order_path(order) %>  
<%#= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>

<section class="container" >
  <div class="container h-100">
      <div class="text-center" >
          <p><h1>Your Orders</h1></p> 
      </div>           
  </div>
</section>

<section id="cart_items" class="container">
	<div class="table-responsive cart_info">
		<table class="table table-condensed">
			<thead>
				<tr class="cart_menu">
					<td class="image">Order Id</td>
					<td class="description">Paytype</td>
					<td class="price">Total</td>
					<td class="quantity">Status</td>
					<td class="quantity">Details</td>
				</tr>
			</thead>
			<tbody>
				<% @orders.each do |order|%>  
					<tr>
						<td class="cart_price py-5">
							<p class="mx-5"><%= order.id %></p>
						</td>
		
						<td class="cart_price py-5">
							<p><%= order.pay_type %></p>
						</td>

						<td class="cart_price py-5">
							<p>$ <%= order.total %></p>
						</td>
						
						<td class="cart_price py-5">
							<p><%= order.status %></p>
						</td>
						<td class="cart_price py-5">
							<p><a href="<%= order_path(order) %>" style="color:#807c7c;">Show Order</a></p>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</section> <!--/#cart_items-->
