<section id="do_action">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <section id="cart_items" class="container">
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description">Description</td>
                            <td class="quantity">Quantity</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% @cart.line_items.each do |item|%>
                            <tr>
                                <td class="cart_price">
                                    <%= image_tag (item.product.product_images.first), width:"50",class:"img-responsive" if item.product.product_images.first  %>
                                </td>
                                <td class="cart_description">
                                    <p class="lead fw-normal mb-2"><%= item.product.name.capitalize %></p>
                                    <p><span class="text-muted">desc.:</span><%= item.product.short_description.capitalize%></p>
                                </td>


                                <td class="cart_price">
                                    <p> <%= item.quantity %></p>
                                </td>

                            </tr>
                        <% end %>
                    </tbody>
                </table>
                    <p class="px-4 py-0 m-0"  >Your Cart Total: <span style="font-size:1.5rem;color:#874d2b;">$<%= @total %></span></p>
                    <p class="px-4 py-0 m-0"  >Your Billing/Shipping Address:-</p> <span class="px-5 py-0 m-0" style="font-size:1.5rem;color:#874d2b;"><%= "#{current_user.addresses.find(@address_id).address_1.capitalize},
                    #{current_user.addresses.find(@address_id).address_2},  #{current_user.addresses.find(@address_id).city},
                    #{current_user.addresses.find(@address_id).state}, #{current_user.addresses.find(@address_id).zipcode}. "%></span>
                </div>
            </section> <!--/#cart_items-->
        </div>
        <div class="col-sm-4">
            <div class="auth-box card">
                <div class="card-block">
                    <%= render 'form', order: @order %>
                </div>
            </div>
        </div>
    </div>
</section>
