<%= render 'shared/banner'%>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<!--left side bar -->
                        <%= render 'shared/sidebar' %>
						<!--left side bar -->
						<div class="shipping text-center"><!--shipping-->
                            <%= image_tag 'shipping.jpg', class:"img-responsive" %>
							<%# <img src="images/home/shipping.jpg" alt="" /> %>
						</div><!--/shipping-->
					</div>
				</div>
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<%= render 'shared/features' %>
					</div><!--features_items-->

					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									<% @recommend_products.each do |product| %>
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<%= image_tag (product.product_images.first),height:"200" if product.product_images.first %>
														<h2>$<%= product.price %></h2>
														<p><%= product.short_description %></p>
														<a href="<%= line_items_path(product_id: product) %>" data-method="post" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
													</div>
												</div>
											</div>
										</div>
									<% end %>
								</div>
							</div>
							<a class="left recommended-item-control" data-target="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right recommended-item-control" data-target="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div><!--/recommended_items-->
				</div>
			</div>
		</div>
	</section>

