<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<!--left side bar -->
					<%= render 'shared/sidebar' %>
					<!--left side bar -->

					<div class="shipping text-center"><!--shipping-->
						<%= image_tag 'shipping.jpg', class:"img-responsive" %>
						<%# <img src="images/home/shipping.jpg" alt="" /> %>
					</div><!--/shipping-->

				</div>
			</div>
			<div class="col-sm-9 padding-right">
				<div class="product-details"><!--product-details-->
					<div class="col-sm-5">
						<div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<% @product.product_images.each do |image| %>
								<div class="carousel-item  <%= "active" if image == @product.product_images.first %>">
								<%# <img src="..." class="d-block w-100" alt="..."> %>
								<%= image_tag url_for(image),height:"400",class:"d-block w-100"%>
								</div>
								<% end %>
							</div>
							<a class="left control-carousel hidden-xs" data-slide="prev" data-target="#carouselExampleControls1">
								<i class="fa fa-angle-left" ></i>
							</a>
							<a class="right control-carousel hidden-xs" data-slide="next" data-target="#carouselExampleControls1">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="product-information"><!--/product-information-->
								<h2><%= @product.short_description %></h2>
								<p>Product ID: <%= @product.id %></p>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>US $<%=@product.price %> </span>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Description:</b><span><h4><%= @product.long_description %></h4></span></p><br>
								<a href="<%= line_items_path(product_id: @product) %>" data-method="post" class="btn btn-lg btn-outline-success"><i class="fa fa-shopping-cart"></i>Add to cart</a>
						</div><!--/product-information-->
					</div>
				</div><!--/product-details-->
				<div class="recommended_items"><!--recommended_items-->
					<h2 class="title text-center">Related products</h2>

					<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								<% @category_products.each do |product| %>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<%= image_tag (product.product_images.first),height:"200" if product.product_images.first %>
													<h2>$<%= product.price %></h2>
													<p><%= product.short_description %></p>
													<a href="<%= line_items_path(product_id: product) %>" data-method="post" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
											</div>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div><!--/recommended_items-->
			</div>
		</div>
	</div>
</section>
