<section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                    <div class="auth-box card text-center">
                        <div class="card-block">
                            <%= form_tag charges_path do %>
                            <input type="hidden" id="total" name="total" value="<%=@total%>" >
                            <input type="hidden" id="address_id" name="address_id" value="<%=@address_id%>" >
                            <input type="hidden" id="pay_type" name="pay_type" value="<%=@pay_type%>" >
                            <article>
                              <% if flash[:error].present? %>
                              <div id="error_explanation">
                                <p><%= flash[:error] %></p>
                              </div>
                              <% end %>
                              <label class="amount">
                              <span>Amount: $<%= @total %></span>
                              </label>
                            </article>
                        
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                              data-key="<%= Rails.application.credentials.dig(:stripe, :stripe_public_key) %>"
                              data-description="A month's subscription"
                              data-amount="<%= (@total.to_i*100) %>"
                              data-locale="auto"></script>
                            <% end %>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
