<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
        <div class="row">
            <div class="col-sm-2">
            <div class="companyinfo">
                <h2><span>e</span>-shop</h2>
                <%# Please change this code and write this method in helper %>
                <%= Cm.where(title: "Footer").first.try(:content).try(:body)%>
            </div>
            </div>
            <div class="col-sm-7">
            <div class="col-sm-3">
                <div class="video-gallery text-center">
                <a href="#">
                    <div class="iframe-img">
                        <%= image_tag 'iframe1.png', class:"img-responsive" %>
                    </div>
                    <div class="overlay-icon">
                    <i class="fa fa-play-circle-o"></i>
                    </div>
                </a>
                <p>Circle of Hands</p>
                <h2>24 JUN 2022</h2>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="video-gallery text-center">
                <a href="#">
                    <div class="iframe-img">
                        <%= image_tag 'iframe2.png', class:"img-responsive" %>
                    </div>
                    <div class="overlay-icon">
                    <i class="fa fa-play-circle-o"></i>
                    </div>
                </a>
                <p>Circle of Hands</p>
                <h2>24 JUN 2022</h2>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="video-gallery text-center">
                <a href="#">
                    <div class="iframe-img">
                    <%= image_tag 'iframe3.png', class:"img-responsive" %>
                    </div>
                    <div class="overlay-icon">
                    <i class="fa fa-play-circle-o"></i>
                    </div>
                </a>
                <p>Circle of Hands</p>
                <h2>24 JUN 2022</h2>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="video-gallery text-center">
                <a href="#">
                    <div class="iframe-img">
                    <%# <img src="images/home/iframe4.png" alt="" /> %>
                    <%= image_tag 'iframe4.png', class:"img-responsive" %>
                    </div>
                    <div class="overlay-icon">
                    <i class="fa fa-play-circle-o"></i>
                    </div>
                </a>
                <p>Circle of Hands</p>
                <h2>24 JUN 2022</h2>
                </div>
            </div>
            </div>
            <div class="col-sm-3">
            <div class="address">
                <%# <img src="images/home/map.png" alt="" /> %>
                <%= image_tag 'map.png', class:"img-responsive" %>
                <p>Karve Nagar Kanjurmarg, Mumbai(Maharashtra), India</p>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="footer-widget">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3">
            <div class="single-widget text-center">
                <h2>Service</h2>
                <ul class="nav-stacked">
                <li><a href="<%= contacts_path %>"> Contact</a></li><br>
                <li><a href="<%= newsletters_path %>"> Newsletters</a></li>
                </ul>
            </div>
            </div>
            <div class="col-sm-3">
            <div class="single-widget text-center">
                <h2>Quick Shop</h2>
                 <ul class="nav-stacked">
                    <% Category.all.each do |category| %>
                        <li>
                            <%= link_to category.name.capitalize, category_path(category) %>
                        </li><br>
                    <% end %>
                </ul>
            </div>
            </div>
            <div class="col-sm-3">
            <div class="single-widget text-center">
                <h2>Others</h2>
                <ul class="nav-stacked">
                    <li><a href="<%= home_index_path %>">Products</a></li><br>
                    <li><a href="<%= orders_path%>"> My Orders</a></li><br>
                    <li><a href="<%= new_track_order_path %>"> Track Your Order</a></li>
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col col-sm-6">
                <p class="pull-left">Copyright © 2022 E-EShop Inc. All rights reserved.</p>
                </div>
                <div class="col col-sm-6">
                <p class="pull-right">Designed by <span>Akash</span></p>
                </div>
            </div>
        </div>
    </div>
</footer><!--/Footer-->
