<header id="header"><!--header-->
    <%# <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><i class="fa fa-phone"></i> +22 12 21 12 123</li>
                            <li><i class="fa fa-envelope"></i> info@eshop.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav-pills">
                            <li class="disabled" ><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <%# <li class="disabled" ><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="disabled" ><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top--> %>
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="<%= root_path %>"><%= image_tag 'logo.png', height:"60"%> </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav nav-pills">
                            <% if user_signed_in? %>
                                <% if current_user.admin %>
                                    <li class="nav-item"><a class="nav-link" href="<%= rails_admin_path %>"><i class="fa fa-user"></i></i> Admin Account</a></li>
                                <% end %>
                                <li class="nav-item"><a class="nav-link" href="<%= edit_user_registration_path %>"><i class="fa fa-user"></i> My Account</a></li>
                                <li class="nav-item"><a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete" ><i class="fa fa-sign-out"></i> Signout</a></li>
                            <% else %>
                                <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path %>"><i class="fa fa-lock"></i> Sign In</a></li>
                                <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path %>"><i class="fa fa-sign-in"></i> Sign Up</a></li>
                            <% end %>  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom "><!--header-bottom-->
            <div class="row">
                <div class="col-sm-9">
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse mt-2">
                            <li><a href="<%= root_path%>" class="active">Home</a></li>
                            <li class="dropdown"><a>E-Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="<%= home_index_path %>">Products</a></li>
                                    <li><a href="<%= orders_path%>"> My Orders</a></li>
                                    <li><a href="<%= new_track_order_path %>"> Track Your Order</a></li>
                                    <li><a href="<%= newsletters_path %>"> Newsletters</a></li>
                                    <%#if user_signed_in?
                                        <li><a href="<%= destroy_user_session_path " data-method="delete">Signout</a></li>
                                    <%# else
                                        <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path "><i class="fa fa-lock"></i> Sign In</a></li>
                                        <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path "><i class="fa fa-sign-in"></i> Sign Up</a></li>
                                    <%# end %>
                                </ul>
                            </li>
                            <li class="dropdown"><a>Categories<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <% Category.all.each do |category| %>
                                        <li>
                                            <%= link_to category.name.capitalize, category_path(category) %>
                                        </li>
                                    <% end %>
                                </ul>
                            </li>
                            <li><a href="<%= orders_path%>"> My Orders</a></li>
                             <li id="cart-show"><a href="<%= cart_path(@cart)%>"><i class="fa fa-shopping-cart" style="font-size:26px"><span class='badge badge-warning' id="lblCartCount"><%= @cart.line_items.count%></span></i></a></li>
                            <li><a href="<%= contacts_path %>"> Contact Us</a></li>
                            <li>
                                <div id="wishlist-show">
                                    <% if user_signed_in? && current_user.wishlist && current_user.wishlist.product_id %>
                                        <li><a href="<%= wishlist_path(current_user.try(:wishlist).try(:id))%>"><i class="fa fa-star"></i> Wishlist</a></li>
                                    <% end %>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div><!--/header-bottom-->
</header><!--/header-->  
