 <header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +22 12 21 12 123</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@eshop.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav-pills">
                            <li class="disabled" ><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="disabled" ><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="disabled" ><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="disabled" ><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li class="disabled" ><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="<%= root_path %>"><%= image_tag 'logo.png', height:"60"%> </a>
                    </div>
                    <%# <div class="btn-group pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                USA
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">UK</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                DOLLAR
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canadian Dollar</a></li>
                                <li><a href="#">Pound</a></li>
                            </ul>						
                        </div>
                    # @wishlist.product_id = Product.find(params[:id])# @wishlist.product_id = Product.find(params[:id])</div> %>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav nav-pills">
                            <% if user_signed_in? %>
                                <% if current_user.admin %>
                                    <li class="nav-item"><a class="nav-link" href="<%= rails_admin_path %>"><i class="fa fa-user"></i></i> Admin Account</a></li>
                                <% end %>
                                <li class="nav-item"><a class="nav-link" href="<%= edit_user_registration_path %>"><i class="fa fa-user"></i> My Account</a></li>
                                <li class="nav-item"><a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete" ><i class="fa fa-sign-out"></i> Signout</a></li>
                            <% else %>
                                <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path %>"><i class="fa fa-lock"></i> Sign In</a></li>
                                <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path %>"><i class="fa fa-sign-in"></i> Sign Up</a></li>
                            <% end %>  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
               
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="<%= root_path%>" class="active">Home</a></li>
                            <li class="dropdown"><a>E-Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                     <li><a href="<%= home_index_path %>">Products</a></li>
                                   <%# <li><a href="product-details.html">Product Details</a></li> 
                                    <li><a href="checkout.html">Checkout</a></li> %>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="<%= orders_path%>"> My Orders</a></li>
                                    <li><a href="<%= new_track_order_path %>"> Track Your Order</a></li>
                                    <%if user_signed_in? %>
                                        <li><a href="<%= destroy_user_session_path %>" data-method="delete">Signout</a></li>
                                    <% else %>
                                        <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path %>"><i class="fa fa-lock"></i> Sign In</a></li>
                                        <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path %>"><i class="fa fa-sign-in"></i> Sign Up</a></li>
                                    <% end %>  
                                </ul>
                            </li>
                            <li class="dropdown"><a>Categories<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <% Category.all.each do |category| %>
                                        <li>
                                            <%= link_to category.name.capitalize, category_path(category) %>
                                        </li>
                                    <% end %>
                                </ul>
                            </li>
                            <li><a href="<%= orders_path%>"> My Orders</a></li>
                            <li>
                                <a href="<%= cart_path(@cart)%>"><i class="fa fa-shopping-cart"></i> Cart</a>   
                            </li>
                            <li>
                                <div id="wishlist-show">
                                    <% if user_signed_in? && current_user.wishlist %>
                                        <li><a href="<%= wishlist_path(current_user.try(:wishlist).try(:id))%>"><i class="fa fa-star"></i> Wishlist</a></li>
                                    <% end %>
                                </div>
                            </li>
                            
                            
                            <%# <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="blog.html">Blog List</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li> %>
                            <%# <li><a href="404.html">404</a></li>
                            <li><a href="contact-us.html">Contact</a></li> %>
                        </ul>
                    </div>
                </div>
                <%# <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search"/>
                    </div>
                </div> %>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->  