<!DOCTYPE html>
<html>
  <head>
    <title>Eshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- stripe link -->
    <script src="https://js.stripe.com/v2/"></script>
    <script src="https://js.stripe.com/v3"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

  </head>

  <body>
    <div class="container" >
      <!--header-->
      <%= render 'layouts/header'%>
        <!-- notice -->   
        <div class="container">
          <div class="col col-md-12 text-center noticee" id="notice" >
            <%if notice %>
              <p class="alert alert-info" role="alert" ><span><%= notice %></span> 
                <%# <button type="button" class="close" data-dismiss="alert">&times;</button> %>
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
              </p>
            <% end %>
          </div>
          <div class="col col-md-12 text-center alerte" id="alert"  >
            <%if alert%>
                <p class="alert alert-warning " role="alert" ><%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button></p>                
            <% end %> 
          </div>
        </div>
        <!-- notice -->
      <%= yield %>
      <!--footer-->
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>

